{% extends 'base.html' %}

{% block title %}Adopt A Pet!{% endblock %}

{% block content %}

<div align="center">

    <h1>All Pets</h1>

    <div class="mt-5"><a href="/add"><button class="btn btn-success">Add New Pet!</button></a></div>

    <div class="mt-5">

        {% for pet in pets %}
            <div class="mb-5">
                <h3>{{pet.name}}</h3>
                <img class="w-25 rounded" src="{{pet.photo_url}}" alt="An image of {{pet.name}} the {{pet.species}}">
                <p><small><a href="/{{pet.id}}">Edit</a></small></p>

                {% if pet.available == True %}
                    <p class="fw-bold text-danger">Available!</p>
                {% endif %}

            </div>
        {% endfor %}
        
    </div>

</div>

{% endblock %}